{% extends 'base.html' %}
{% block title %}
    Detail
{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-lg-12 col-sm-12">
            <div class="container-fluid">
                {% if post.image %}
                <div class="row mb-5">
                    <div class="col">
                        <img src="{{ post.image.url }}" class="img-fluid" alt="...">
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col">
                        <h1>{{ post.title|title }}</h1>
                        <p>{{post.count}} views</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>User profile and logo display</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="text" style="line-height: 2; font-size: 1.5rem">{{ post.content }}</p>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}