{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-lg-8 col-sm-12">
            {% for blog in blog_list %}
            <div class="card mb-3" style="max-width: 700px;">
              <div class="row g-0 align-items-center">
                  {% if blog.image %}
                    <div class="col-md-8">
                        {% include 'blog/card.html' %}
                    </div>
                    <div class="col-md-4">
                      <img src="{{ blog.image.url }}" class="img-fluid rounded-start" alt="...">
                    </div>
                  {% else %}
                     <div class="col-md-12">
                         {% include 'blog/card.html' %}
                     </div>
                  {% endif %}
              </div>
                <div class="row">
                    <div class="col-lg-12">
                        {% include 'blog/tags.html' %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-4 col-sm-12 border">
            <div class="left" style="position: relative;height: 100%;display: inline-block;width: 100%;">
                <div class="inner" style="top: 101px;position: sticky;margin-top: 0px;">
                    <!-- Category -->
                    <div class="container mb-3">
                        <div class="row">
                            <div class="col">
                                <small class="text-body-secondary">
                                    <h3>Categories</h3>
                                    {% for blog in blog_list %}
                                        {% for category in blog.categories.all %}
                                        <a href="{% url 'blog:category' category %}" class="btn {% cycle 'btn-outline-primary' 'btn-outline-secondary' 'btn-outline-success' 'btn-outline-danger' 'btn-outline-warning' 'btn-outline-info' 'btn-outline-dark' %} btn-sm">{{ category|slice:"1:2" }}</a>
                                        {% endfor %}
                                    {% endfor %}
                                </small>
                            </div>
                        </div>
                    </div>
                    <!-- Tag list -->
                    <div class="container mb-3">
                        <div class="row">
                            <div class="col">
                                <h3>Tag</h3>
                                <small class="text-body-secondary">
                                    {% for blog in blog_list %}
                                        {% for tag in blog.tags.all %}
                                        <a href="{% url 'blog:tag' tag %}" class="btn {% cycle 'btn-outline-primary' 'btn-outline-secondary' 'btn-outline-success' 'btn-outline-danger' 'btn-outline-warning' 'btn-outline-info' 'btn-outline-dark' %} btn-sm">{{ tag|slice:"1:2" }}</a>
                                        {% endfor %}
                                    {% endfor %}
                                </small>
                            </div>
                        </div>
                    </div>
                    <!-- Top blog post -->
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h3>Top Related Posts</h3>
                                <small class="text-body-secondary">
                                    {% for blog in blog_list %}
                                        {% if forloop.counter < 6 %}
                                        <a href="{% url 'blog:detail' blog.slug %}" class="link" style="text-decoration: none;color: black;cursor: pointer;">
                                        <div class="card">
                                          <div class="card-body">
                                            <h5 class="card-title">{{blog.title}}</h5>
                                            <p class="card-text">{{ blog.content | truncatewords:5 }}</p>
                                          </div>
                                        </div>
                                        </a>
                                        {% endif %}
                                    {% endfor %}
                                </small>
                            </div>
                        </div>
                    </div>

                <div class="container mt-5 mb-2">
                  <div class="copyright">
                    © Copyright <strong><span>winlintun</span></strong>
                  </div>
                  <div class="credits">
                    Copy Designed by <a href="https://medium.com/">Medium</a>
                  </div>
                </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}