<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end me-3" id="navbarNav">
      <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'blog:create' %}">Write</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{request.user.username}}
              </a>
              <ul class="dropdown-menu">
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a></li>
              </ul>
          </li>
        {% else %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'blog:home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Account
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'account:register' %}">Register</a></li>
                <li><a class="dropdown-item" href="{% url 'account:login' %}">Login</a></li>
              </ul>
            </li>
        {% endif %}
      </ul>
    </div>
    <form class="d-flex" role="search" method="get" action="{% url 'blog:search' %}">
        <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>